.lessonResources {
    .title {
        color: @fontColorNormal;
        font-size: 1.75rem;
        font-family: "MiSans-Bold";
        font-weight: bold;
        line-height: 3.5rem;
        padding: 0.63rem 0 2rem 2.8rem;
    }

    .content {
        width: 69rem;
        margin: 0 auto;
        height: calc(90vh - 10rem);
        overflow-x: auto;
    }

    .content::-webkit-scrollbar {
        background: rgba(0, 0, 0, 0);
        width: 10px;
    }

    .content::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgb(217, 217, 217);
    }

    .content::-webkit-scrollbar-button {
        display: none;
    }

    :global(.markdown-body a) {
        color: #5B8DFC !important;
    }

    @media screen and (min-width: 1200px) {
        .title {    
            font-size: 22.4px;
            line-height: 44.8px;
            padding: 8px 0 25px 35.84px;
        }

        .content {
            width: 863px;
            height: calc(90vh - 128px);
        }
    }
}