body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;

    .header {
        background: url("@/assets/img/header.jpg") center no-repeat;
        background-size: cover;
        width: 100%;
        height: 56.88rem;
    }

    .logo {
        width: 7.95rem;
        height: 7.95rem;
        margin-right: 1.56rem;
    }

    .titleText {
        color: @fontColorWhite;
        font-family: "MiSans-Heavy";
        font-size: 4rem;
        font-weight: 800;
    }

    .title {
        padding-top: 2.81rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .guide {
        display: flex;
        justify-content: space-between;
        width: 53.13rem;
        margin: 2.75rem auto;
    }

    .guideName {
        font-size: 1.5rem;
        font-family: "MiSans-Heavy";
        font-weight: 800;
        color: @fontColorWhite;
        cursor: pointer;
    }

    .carousel {
        padding-top: 1.25rem;
    }

    .childrenCarsel {
        display: flex !important;
        width: 75rem !important;
        justify-content: space-between;
        margin: 0 auto;
        height: 37.19rem;

        .carouselHeader {
            font-size: 3rem;
            font-family: "MiSans-Heavy";
            font-weight: 800;
            color: @fontColorWhite;
        }

        .context {
            width: 38.81rem;
            font-size: 1.13rem;
            font-family: "MiSans-Regular";
            font-weight: 400;
            color: @fontColorWhite;
        }

        .button {
            width: 10rem;
            height: 3.5rem;
            border-radius: 1.75rem;
            background: @buttonColor;
            color: @fontColorNormal;
            font-size: 1rem;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1.63rem 0;
            font-family: "MiSans-bold";
        }

        .lessonDetails {
            padding-top: 1rem;
        }

        .lessonDetail {
            display: flex;
            align-items: center;
            margin-bottom: 0.75rem;
        }

        .icon {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.75rem;
        }

        .lessonText {
            font-size: 0.88rem;
            color: @fontColorWhite;
            font-family: "MiSans-bold";
            font-weight: bold;
            line-height: 1.5rem;
            margin: 0;
        }
    }

    .quote {
        width: 33.75rem;
        height: 31.25rem;
        display: block;
    }

    .bodyProject {
        margin: 3.5rem 0 4.25rem 0;
    }

    .projectHeader {
        color: @fontColorNormal;
        font-size: 3rem;
        font-weight: bold;
        font-family: "MiSans-bold";
        text-align: center;
    }

    .projects {
        width: 76.1rem;
        height: 20.7rem;
        margin: 2.25rem auto 2.44rem;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;

        .project {
            width: 15.57rem;
            height: 7.2rem;
            border-radius: 0.63rem;
            padding: 1.25rem 1.25rem 1.13rem 1.19rem;
            background-size: cover;
            margin: 0 0.5rem;
        }

        .projectHeader {
            display: flex;
            align-items: center;
        }

        .projectImg {
            width: 2.25rem;
            height: 2.25rem;
            margin-right: 0.88rem;
        }

        .name {
            color: @fontColorWhite;
            font-size: 1rem;
            font-family: "MiSans-Semibold";
        }

        .description {
            color: @fontColorWhite;
            font-size: 0.88rem;
            font-family: "MiSans-Regular";
            margin-left: 3.13rem;
        }

        .readMore {
            color: @fontColorWhite;
            font-size: 0.75rem;
            font-family: "MiSans-Regular";
            margin-top: 1rem;
            text-decoration: underline;
            float: right;
            cursor: pointer;
        }

    }

    .bodyDetail {
        background: #F8F9FC;
        display: flex;
        justify-content: space-evenly;
        padding-top: 4.5rem;

        .process {
            margin-bottom: 6rem;

            .processTitle {
                font-size: 3rem;
                font-family: 'MiSans-Bold';
                color: @fontColorNormal;
                margin-bottom: 2.56rem;
            }

            .number {
                font-size: 1.5rem;
                color: @fontColorNormal;
                font-family: "MiSans-Semibold";
                background: @themeColorGray;
                width: 2.63rem;
                height: 2.63rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 0.81rem;
            }

            .item {
                display: flex;
            }

            .itemDetail {
                margin: 0;
                color: @fontColorGray;
                font-size: 1rem;
            }

            .itemName {
                margin: 0;
                color: @fontColorNormal;
                font-family: "MiSans-Semibold";
                font-size: 1.13rem;
            }

            .itemAuthor {
                margin: 0;
                color: @fontColorGray;
                font-size: 1rem;
                line-height: 1.63rem;
                font-family: "MiSans-Regular";
            }

            .line {
                width: 0.1rem;
                height: 1.4rem;
                background: @themeColorGray;
                margin: 0.4rem 0 0.6rem 1.25rem;
            }
        }

        .exam {
            .examTitle {
                font-size: 3rem;
                font-family: 'MiSans-Bold';
                color: @fontColorNormal;
                margin-bottom: 2.06rem;
            }

            .report {
                display: flex;
                margin-bottom: 1rem;
            }

            .icon {
                width: 4.5rem;
                height: 4.5rem;
                margin-right: 1.5rem;
            }

            .reportTitle {
                font-size: 1.13rem;
                font-family: 'MiSans-Bold';
                font-weight: bold;
                color: @fontColorNormal;
                line-height: 1.75rem;
                margin-bottom: 0.75rem;
            }

            .reportDetail {
                font-size: 1rem;
                width: 21.81rem;
                font-family: "MiSans-Regular";
                color: @fontColorGray;
                margin-bottom: 1rem;
            }
        }

        .schedule {
            border-radius: 2rem;
            border: 0.13rem solid @themeColorGray;
            width: 22.75rem;
            height: 25.31rem;
            padding: 0 2.5rem;

            .title {
                font-size: 1.38rem;
                font-family: 'MiSans-Bold';
                font-weight: bold;
                color: @fontColorNormal;
                padding: 0;
                margin: 1.44rem 0;
                display: block;
            }

            .date {
                font-family: 'Misans-Regular';
                font-size: 1.13rem;
                font-weight: 400;
                color: @fontColorGray;
                line-height: 1.75rem;
            }

            .line {
                width: 22.44rem;
                height: 0.06rem;
                background: @themeColorGray;
                margin: 1.69rem 0 1.25rem 0;
            }
        }

    }

    .team {
        margin-bottom: 2.57rem;

        .teamTitle {
            font-family: "Misans-Bold";
            font-size: 3rem;
            font-weight: bold;
            color: @fontColorNormal;
            margin: 3rem 0;
            text-align: center;
        }

        .teamImage {
            width: 17.24rem;
            height: 17.24rem;
            margin-bottom: 0.63rem;
        }

        .teachers {
            display: flex;
            flex-wrap: wrap;
            width: 76.5rem;
            margin: 0 auto;
        }

        .teacher {
            margin: 0 0.94rem 5.81rem 0.94rem;
            width: 17.24rem;
        }

        .teacherName {
            font-size: 1.38rem;
            color: @fontColorNormal;
            line-height: 2rem;
            font-family: 'Misans-Bold';
            font-weight: bold;
            margin-bottom: 0.44rem;
        }

        .jobTitle {
            font-size: 1.13rem;
            font-family: 'Misans-Regular';
            color: @fontColorGray;
        }

        .rewards {
            font-size: 0.75rem;
            font-family: 'Misans-Bold';
            font-weight: bold;
            color: @fontColorNormal;
            line-height: 1.13rem;
        }
    }

    .regist {
        width: 75rem;
        height: 9rem;
        background: url("@/assets/img/registBackground.png") center no-repeat;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6rem;

        .text {
            color: @fontColorWhite;
            font-size: 3rem;
            font-family: 'MiSans-Bold';
            font-weight: bold;
            margin-left: 3rem;
        }

        .button {
            width: 12.74rem;
            height: 3.67rem;
            background: @fontColorWhite;
            border-radius: 0.31rem;
            margin-right: 2.94rem;
            color: @fontColorBlack;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            font-family: 'Misans-Semibold';
            font-weight: 600;
        }
    }

    .footer {
        width: 100%;
        height: 20.44rem;
        background: @fontColorBlack;

        .catalogs {
            display: flex;
            justify-content: center;
            padding-top: 4rem;
        }

        .catalog {
            color: @fontColorWhite;
            font-size: 1rem;
            font-family: "MiSans-Regular";
            font-weight: 500;
            margin: 0 3rem;
            cursor: pointer;
        }

        .line {
            width: 81rem;
            height: 0rem;
            border: 0.06rem solid @fontColorWhite;
            opacity: 0.2;
            margin: 2.3rem auto;
        }

        .copyrightAndPolicy {
            color: @fontColorWhite;
            font-size: 1rem;
            font-family: "MiSans-Regular";
            display: flex;
            justify-content: space-between;
            width: 81rem;
            margin: 0 auto;
        }

        .copyright {
            margin-left: 4.13rem;
        }

        .policy {
            display: flex;
            margin-right: 1.87rem;
            width: 18.31rem;
            justify-content: space-between;
        }
    }


    .checkAll {
        color: @fontColorNormal;
        font-size: 1rem;
        font-family: "MiSans-Semibold";
        text-align: center;
        text-decoration: underline;
        font-weight: 600;
        cursor: pointer;
    }

    :global(.ant-carousel .slick-dots li.slick-active button) {
        background: @themeColor;
        width: 2.75rem;
        height: 0.94rem;
        border-radius: 1.75rem;
        opacity: 1;
    }

    :global(.ant-carousel .slick-dots li button) {
        opacity: 0.6;
        width: 0.94rem;
        height: 0.94rem;
        border-radius: 1.75rem;
    }

    :global(.ant-carousel .slick-dots li.slick-active) {
        width: 2.75rem;
        margin: 0 0.25rem;
    }

    :global(.ant-carousel .slick-dots-bottom) {
        bottom: 1.88rem;
        margin: 0.88rem 0;
    }

    :global(.ant-carousel .slick-dots li) {
        margin: 0 0.25rem;
        width: 1rem;
    }

    @media screen and (min-width: 1600px) {
        .header {
            height: 909px;
        }

        .logo {
            width: 127px;
            height: 127px;
            margin-right: 25px;
        }

        .titleText {
            font-size: 64px;
        }

        .title {
            padding-top: 44px;
        }

        .guide {
            width: 850px;
            margin: 44px auto;
        }

        .guideName {
            font-size: 24px;
        }

        .carousel {
            padding-top: 20px;
        }

        .childrenCarsel {
            width: 1200px !important;
            height: 595px;

            .carouselHeader {
                font-size: 48px;
            }

            .context {
                width: 587px;
                font-size: 18px;
            }

            .button {
                width: 160px;
                height: 56px;
                border-radius: 28px;
                font-size: 16px;
                margin: 26px 0;
            }

            .lessonDetails {
                padding-top: 16px;
            }

            .lessonDetail {
                margin-bottom: 12px;
            }

            .icon {
                width: 24px;
                height: 24px;
                margin-right: 12px;
            }

            .lessonText {
                font-size: 14px;
                line-height: 24px;
            }
        }

        .quote {
            width: 540px;
            height: 540px;
        }

        :global(.ant-carousel .slick-dots li.slick-active button) {
            width: 44px;
            height: 15px;
            border-radius: 28px;
        }
    
        :global(.ant-carousel .slick-dots li button) {
            width: 15px;
            height: 15px;
            border-radius: 28px;
        }
    
        :global(.ant-carousel .slick-dots li.slick-active) {
            width: 44px;
            margin: 0 4px;
        }
    
        :global(.ant-carousel .slick-dots-bottom) {
            bottom: 30px;
            margin: 0px 0;
        }
    
        :global(.ant-carousel .slick-dots li) {
            margin: 0 4px;
            width: 16px;
        }

        .bodyProject {
            margin: 56px 0 68px 0;
        }

        .projectHeader {
            font-size: 48px;
        }

        .projects {
            width: 1200px;
            height: 331px;
            margin: 36px auto 39px;

            .project {
                width: 245px;
                height: 113px;
                border-radius: 10px;
                padding: 20px 20px 18px 19px;
                margin: 0 8px;
            }

            .projectImg {
                width: 36px;
                height: 36px;
                margin-right: 14px;
            }

            .name {
                font-size: 16px;
            }

            .description {
                font-size: 14px;
                margin-left: 50px;
            }

            .readMore {
                font-size: 12px;
                margin-top: 16px;
            }

        }

        .bodyDetail {
            padding-top: 72px;

            .process {
                margin-bottom: 96px;

                .processTitle {
                    font-size: 48px;
                    margin-bottom: 41px;
                }

                .number {
                    font-size: 24px;
                    width: 42px;
                    height: 42px;
                    margin-right: 13px;
                }

                .itemDetail {
                    font-size: 16px;
                }

                .itemName {
                    font-size: 18px;
                }

                .itemAuthor {
                    font-size: 16px;
                    line-height: 26px;
                }

                .line {
                    width: 1.6px;
                    height: 22.5px;
                    margin: 6.4px 0 9.6px 20px;
                }
            }

            .exam {
                .examTitle {
                    font-size: 48px;
                    margin-bottom: 32px;
                }

                .report {
                    margin-bottom: 16px;
                }

                .icon {
                    width: 72px;
                    height: 72px;
                    margin-right: 24px;
                }

                .reportTitle {
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 12px;
                }

                .reportDetail {
                    font-size: 16px;
                    width: 348px;
                    margin-bottom: 16px;
                }
            }

            .schedule {
                border-radius: 32px;
                border: 2px solid @themeColorGray;
                width: 444px;
                height: 405px;
                padding: 0 40px;

                .title {
                    font-size: 22px;
                    margin: 23px 0;
                }

                .date {
                    font-size: 18px;
                    line-height: 28px;
                }

                .line {
                    width: 359px;
                    height: 1px;
                    margin: 27px 0 20px 0;
                }
            }

        }

        .team {
            margin-bottom: 41px;

            .teamTitle {
                font-size: 48px;
                margin: 48px 0;
            }

            .teamImage {
                width: 276px;
                height: 276px;
                margin-bottom: 10px;
            }

            .teachers {
                width: 1200px;
            }

            .teacher {
                margin: 0 12px 93px 12px;
                width: 276px;
            }

            .teacherName {
                font-size: 22px;
                line-height: 32px;
                margin-bottom: 7px;
            }

            .jobTitle {
                font-size: 18px;
            }

            .rewards {
                font-size: 12px;
                line-height: 18px;
            }
        }

        .regist {
            width: 1200px;
            height: 144px;
            margin-bottom: 96px;

            .text {
                font-size: 48px;
                margin-left: 48px;
            }

            .button {
                width: 204px;
                height: 59px;
                border-radius: 5px;
                margin-right: 47px;
                font-size: 16px;
            }
        }

        .footer {
            height: 327px;

            .catalogs {
                padding-top: 64px;
            }

            .catalog {
                font-size: 16px;
                margin: 0 48px;
            }

            .line {
                width: 1295px;
                border: 1px solid @fontColorWhite;
                margin: 33px auto;
            }

            .copyrightAndPolicy {
                font-size: 16px;
                width: 1295px;
            }

            .copyright {
                margin-left: 66px;
            }

            .policy {
                margin-right: 30px;
                width: 293px;
            }
        }


        .checkAll {
            font-size: 16px;
        }
    }
}